
.container{
    display: flex;
    box-sizing: border-box;
}

.vertical{
    flex-direction: column;
    height: 100%;
}

.vertical > * {
    border-bottom: 1px solid var(--border-color);
}

.vertical:not(.bordered) > *:last-child {
    border-bottom: none;
}

.horizontal{
    flex-direction: row;
    width: 100%;
}

.horizontal > * {
    border-right: 1px solid var(--border-color);
}

.horizontal:not(.bordered) > *:last-child {
    border-right: none;
}